langchain
langchain-community
langchain-text-splitters
chromadb
sentence-transformers
streamlit
PyPDF2
ollama
SpeechRecognition
pyaudio
numpy
torch
torchvision
scikit-learn
textstat
seaborn
matplotlib
plotly
joblib
nltk
rank-bm25
reportlab
wordcloud
fuzzywuzzy
python-Levenshtein
pocketsphinx
pyperclip
pyttsx3
